//for font-size
.font-xs {
    font-size: 12px;
}

.font-sm {
    font-size: 14px;
}

.font-md {
    font-size: 16px;
}

.font-lg {
    font-size: 18px;
}

.font-xl {
    font-size: 20px;
}
.font-xxl {
    font-size: 26px;
}
.font-weight-medium{
    font-weight: 500;
}
.font-icon{
    font-size: 18px;
    width: 30px;
}