$primary: #056162;
$secondary: #2a2f32;
$chats-color: #131c21;
$gray: #797d7f;
$gray-dark: #33383b;

$theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "chats-color": $chats-color,
    "gray": $gray,
    "gray-dark": $gray-dark
);